:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url("https://mocah.org/thumbs/505254-yellow-orange.jpg");
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

/* landing page css */
.navbar {
  background-color: black;
  color: #cf8128;
}
.text-success {
  color: #cf8128!important;
}

#navbarNav {
  margin-left: 50%;
}
.navbar-light .navbar-brand {
  color: #fff;
}
.btn-outline-success {
  color: #fff;
  border-color: #fff;
}
#user_signup {
  margin-left: 1%;
}
#user_login {
  margin-right: 3%;
}
#user_logout {
  margin-left: 65%;
}
#div_search_bar {
  width: 84%;
    background-color: #ceb77e;
    margin-left: 8%;
    padding: 1%;
    margin-top: 0%;
}
#search_bar {
  width: 90%;
}
#search_submit {
  background-color: #4e3111;
    color: wheat;
}
.div_dropdown {
  padding-left: 8%;
    margin-top: 2%;
}
.dropdown-menu.show {
  position: absolute;
  /* transform: translate3d(0px, -130px, 0px); */
  /* top: 0px; */
  left: 0px;
  will-change: transform;
}
#dropdownMenuLink {
  background-color: #4e3111;
  /* margin-bottom: 28%; */
}

/* .container {
  /* background-color: #dffbaa94; */
/* height: 350px; */
/* padding-top: 3%; */
/* margin-top: 2%; */
/* } */

.home-section--title {
  font-size: 20px;
}

ul {
  list-style-type: none;
}

/* css for admin page */
#add_new_product {
  padding: 1%;
}

/* css for single product page */
.location {
  padding: 1%;
}
#single_prod_section {
  color: gray;
  text-align: center;
}
.single_h3 {
  font-weight: bold;
  color: #000;
}
#review_post {
  margin-right: 100px;
}

#single_extra {
  background-color: #c7f575;
  padding: 2%;
}
#cart_container {
  /* background-color: #dffbaa94; */
  border: 1px solid black;
  height: auto;
  padding-top: 2%;
  margin-top: 2%;
}
.modal-body {
  height: auto;
}

.leftContainer {
  float: left;
}

.rightContainer {
  float: right;
}

.single_prod_container {
  /* background-color: #dffbaa94; */
  border: 1px solid black;
  height: auto;
  padding-top: 2%;
  margin-top: 2%;
}

#review_form {
  margin-left: 3%;
}
.home_link:hover {
  background-color: #edfcce;
  color: #fff;
}

#liked {
  color: blue;
}

#unliked {
  color: green;
}

.productPropHeading {
  font-weight: 500;
  color: #ee0000;
}

.bg-success {
  background-color: #fff !important;
  border-style: groove;
  padding: 2%;
}

#productList {
  padding-left: 40px;
  padding-right: 40px;
}

.cart_pg_row {
  border: groove;
  padding: 2%;
  margin-bottom: 5%;
}
.cart_fields {
  color: #000;
}
.cart_h3 {
  color: #28a745;
}

#admin_modal {
  margin-right: 4%;
  margin-top: -15px;
}

#user_container {
  background-color: #dffbaa94;
  height: auto;
  padding-top: 2%;
  margin-top: 2%;
}
#user_htag {
  text-align: center;
}

.user_ptag {
  font-size: 20px;
}

.cart_dynamic_content {
  color: #000;
}
#user_list{
  margin-top: 2%;
  color: #b78f5b!important;
}
.userinfo_div{
  background-color: transparent;
  color: wheat;
  margin-top: 3%;
  margin-left: 10%;
}
.jumbotron{
  background-color: transparent;
  color: wheat;
}
.list-group-item {
  background-color: transparent;
  color: wheat;
}
.col-form-label {
  color: wheat;
}
.new_font_color{
  color: wheat;
}
body{
  background-image: url("https://images.unsplash.com/photo-1524863479829-916d8e77f114?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}
.home_search_bar{
  background-color: transparent;
}
.card{
  margin-bottom: 30px;
}

.update_user_container{
  background-color: #dffbaa94;
    height: auto;
    padding-top: 2%;
    margin-top: 2%;
}

.up_user{
  color: #000;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: black;
  color: #cf8128;
  text-align: center;
  padding-top: 10px;
}

.table_head{
  color: #000;
}
tbody{
  color: #f5efe5 !important;
}

.slider {
	width: 600px;
	height: 300px;
	margin: 40px auto;
	box-shadow: 5px 5px 15px #aaa;
	position: relative;
	border: 20px solid #fff; 
}
.image-wrapper {
	position: absolute;
    width: 1860px;
	left: 0;
    animation-name: fade;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
img {
	float: left;
	margin-right: 5px;
}
@-webkit-keyframes fade {
    0% {left: 0;}
	10% {left: 0;}
	20% {left: -605px;}
	30% {left: -605px;}
    40% {left: -1210px;}
    50% {left: -1210px;}
	60% {left: -605px;}
	70% {left: -605px;}
	100% {left: 0;}
}
.slider {
	padding: 0;
	margin: 0;
	overflow: hidden;
  margin-left: 21%;
}
.home_qoute {
  text-align: center;
  color:#503d21;
}

.home_qoute1 {
  text-align: center;
  color:#503d21;
  font-size: 20px;
}
