<h3> Please enter valid details to login/signup</h3>
{{#each errors}}
  <div class="text-danger">{{this}}</div>
{{/each}}
<p class="text-primary fw-b">Please login/Signup again for admin</p>

<a href="/"> Click here to Main page</a>