<div class="container-fluid">
  <div class="row no-gutter">
    
    <div class="col-md-8 col-lg-12">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Welcome back!</h3>
              {{#if errors}}
                <div class="text-danger">
                  <ul>
                    {{#each errors}}
                      <li class="fw-b">{{this}}</li>
                    {{/each}}
                  </ul>
                </div>
              {{/if}}
              {{! }}
              <form action="/users/login" method="POST" id="login-form">
                <div class="form-label-group">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email address"
                    name="email"
                    id="email"
                    required
                    autofocus
                  />
                  <label for="email">Email address</label>
                </div>

                <div class="form-label-group">
                  <input
                    type="password"
                    id="password"
                    class="form-control"
                    placeholder="Password"
                    name="password"
                    required
                  />
                  <div class="invalid-feedback">
                    Password cannot be empty
                  </div>
                  <label for="password">Password</label>
                </div>

                <input
                  class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                  type="submit"
                  value="submit"
                  id="submitInfo"
                />
                <div class="container">
                  <h3 class="login-heading">New User:</h3>
                  <a
                    class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                    href="/users/signup"
                  >Sign Up</a>

                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<script src="../../public/js/login.js" defer></script>