


<div class="container">
  <div class="row justify-content-md-center row-custom">
    <div class="col-sm-8">
      <div class="error-template">
                <h1>
                  Thank you for your feedback !!</h1>
                <h2>
                    Your feedback has been successfully recorded. </h2>
               
              
            </div>
    </div>
  </div>
</div>
<script>
  localStorage.clear();
</script>