<h1 class="text-primary text-uppercase fw-bold text-center">Users List</h1>

{{#if hasUsers}}
  <ul id="usersList">

    {{#each users}}
      <li class="list-group-item"><a href="/admin/users/{{_id}}">{{firstName}}
          {{lastName}}
          :
          {{emailId}}
        </a></li>
    {{/each}}

  </ul>
{{/if}}