<div class ="container" style="margin-top: 3%;">
<p class="home_qoute1">Find your inner Spiritual bliss</p>
<h5 class="home_qoute">We are Spiritual Bliss</h5>
<p class="home_qoute">Spiritual bliss creates tailored yoga experiences combining 
Movement, relaxation, and mental connection...all in one place. </p>
<i class="home_qoute">“When you listen to yourself, everything comes naturally. It comes from inside, like a kind of will to do something. Try to be sensitive. That is yoga.” ― Petri Räisänen</i>
<div class="slider">
	<div class="image-wrapper">
		<img height ="300px" width="600px" src="http://juliesillyoga.weebly.com/uploads/1/1/6/5/116560043/yogaquotes-8_orig.jpg">
		<img height ="300px" width="600px" src="https://truewordings.com/wp-content/uploads/2018/06/Beautiful-Lines-Status-about-Yoga.jpg">
		<img height ="300px" width="600px" src="https://dogtrainingobedienceschool.com/pic/1284335_full-workout-pose-quotes-38-inspirational-yoga-quotes-for-your-daily-practice-openfit.jpg">
	</div>
</div>
</div>